body { 
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/redox_01.png");
    font-family: 'Montserrat', sans-serif;

}
#rectitle {
    margin: 10px 0px 15px 0px;
}
h1{
    color: green;
    text-align: center;
}

#rectitle{
    color: black;
    font: bold;
}
.foodimage{
    width: 200px;
    height: 200px;
    padding: 20px;
    float: left;
    border-radius: 25px;
}
h3 {
    font-size: 20px;
    margin: 20px;
    text-decoration: underline;
}
#cIMG {
    border-radius: 25px;
    margin: 15px 10px 0px 10px;
}
#rec {
    text-align: center;
}
p{
    text-align: center;
    padding: 0px;
    margin: 0;
}
.item{
    width: 200px;
    height: 250px;
    margin: 0;
    float: right;
    padding: 10px;
}
#cIMG{
    float: right;
    width: 300px;
    height:300px;
}


#recepieINST{
    float: right;
}

#ingredients #amount {

    width: 33.33%;
    padding: 10px;
    height: 300px; 
}


row{
    width: 300px;
}
embed{
    width: 300px;
    height: 200px;
}
